<h1 class="page-header">A\B Тестирование</h1>
<div class="row top-buffer">
    <div class="row">
        <a class="btn btn-default" href="/#/ab" role="button">Добавить</a>
    </div>
    <h4>Текущие тестирования</h4>
    <div class="row top-buffer" ng-repeat="ab in abList">
        <div class="form-group">
            ab/{{ab.Url}}:
            <b>Презентация A:</b> {{ab.AdA.Name}}
            <b>Презентация B:</b> {{ab.AdB.Name}}
            <a class="btn btn-default" href="/#/ab/get/{{ab.Id}}"><span class="fa fa-bar-chart"></span></a>
            <progressbar class="progress-striped active" max="100" value="ab.progressValue" type="danger"><i>{{ab.progressValue}}% Завершено с {{ab.StartDateString}} по {{ab.EndDateString}}</i></progressbar>
        </div>
    </div>
</div>
