@{
    ViewBag.Title = "CreateTestStub";
    Layout = null;
}

<h2>CreateTestStub</h2>

<div id="adBody" style="position:relative; height:300px">
    @*<video height="300" id="mpls-video-1" class="mpls-video mpls-start-video" data-id="1">
        <source src="/Videos/test/1.webm" type="video/webm" />
    </video>
    <div data-for="mpls-video-1" class="mpls-video-control">
        <button class="mpls-action-button" data-action="next-slide" data-next-id="3" data-next-time="0">Перейти к видео 3</button>
        <button class="mpls-action-button" data-action="next-slide" data-next-id="3" data-next-time="3">Перейти к видео 3 на позицию 3c</button>
    </div>
    <video height="300" id="mpls-video-2" class="mpls-video" data-id="2">
        <source src="/Videos/test/2.webm" type="video/webm" />
    </video>
    <div data-for="mpls-video-2" class="mpls-video-control">
        <span>Конец</span>
        <input type="text" placeholder="Надо что-то ввести" />
    </div>
    <video height="300" id="mpls-video-3" class="mpls-video" data-id="3">
        <source src="/Videos/test/3.webm" type="video/webm" />
    </video>
    <div data-for="mpls-video-3" class="mpls-video-control">
        <button class="mpls-action-button" data-action="next-slide" data-next-id="2" data-next-time="0">Перейти к видео 2</button>
        <button class="mpls-action-button" data-action="next-slide" data-next-id="1" data-next-time="12">Перейти к видео 1 на позицию 12c</button>
    </div>*@
</div>
<button id="send-button" style="margin-top:10px" ng-click="sendxml()">Создать видео</button>