@{
    ViewBag.Title = "CreateTestStub";
}

<h2>CreateTestStub</h2>
<div id="adBody">
    This is An AD
    <a class="link" href="http://ya.ru">Ссылка</a>
    <button class="button">Кнопка</button>
</div>
<button id="sendButton">SendXML</button>

@section scripts {
    <script src="~/Scripts/sendXml.js"></script>
    
    <script>
        $(document).ready(function () {
            $("#sendButton").click(function () {
                send($("#adBody").html());
            })
        })
    </script>
}