@model IEnumerable<ImpulseApp.Models.AdModels.SimpleAdModel>
@{
    ViewBag.Title = "StatisticsIndex";
}

<h2>StatisticsIndex</h2>

Choose Ad
<ul>
    <li>@Html.ActionLink("Статистика по кликам", "StatisticsClicks")</li>
</ul>