@model IEnumerable<ImpulseApp.Models.AdModels.SimpleAdModel>
@{
    ViewBag.Title = "StatisticsIndex";
}

<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cтатистика</h1>
                </div>
                <!-- /.col-lg-12 -->
</div>

Choose Ad
<ul>
    <li>@Html.ActionLink("Статистика по кликам", "StatisticsClicks")</li>
</ul>