@{
    ViewBag.Title = "Statistics";
}
@section scripts{
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/StatisticsClicksJS.js"></script>
}
<h2>Statistics</h2>

<div id="options">
    @{Html.RenderAction("GetCurrentUserAds", "Additional", new { AdId = Model });}
</div>
<div id="minificated"><input type="checkbox" value="minificate" id="minificate"> Minificate</div>
<div id="canvasContainer" data-url="@Url.Action("ClickStatistics", "Statistic")"></div>
<div id="statLegend"></div>
<div id="statDetails" data-url="@Url.Action("DetailedStatistics", "Statistic")"></div>