

<h2>UploadTest</h2>

<form name="form1" method="post" enctype="multipart/form-data" action="/api/upload/video">
    <div>
        <label for="image1">Видео файл</label>
        <input name="image1" type="file" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>