@{
    ViewBag.Title = "GenerateAbs";
    Layout = null;
}

<h2>Сгенерировать данные</h2>

@using (Html.BeginForm())
{
    <input type="text" name="AbId"/>
    <div class="row">
        <input type="submit" value="Отправить" />
    </div>
}
