<div class="form-inline">

     @{Html.RenderAction("GetCurrentUserAds", "Additional", new { AdId = Model });}
     С: <input type="date" id="start-date-stats" class="form-control" />
     По: <input type="date" id="end-date-stats" class="form-control" />

    <button id="addAd" class="btn btn-default">Добавить</button>
    <button ng-show="showAds" id="dispose-graph" class="btn btn-default">Сбросить</button>
</div>
