<div class="struct-editor">
<div class="struct-inner container">
		<div class="editor-header">
			
			<span class="presentation-name">Слайд1<span class="icon-pencil"></span></span>
			<div class="presentation-menu">
				<ul>
					<li><div class="button1 button1-pink button1-left"><span class="button-icon"><span class="icon-video-camera"></span></span>Редактировать видео</div></li>
					<li><div class="save-btn"><span class="icon-floppy-disk"></span></div></li>
					<li><div class="setting-btn"><span class="icon-cog"></span></div></li>
					<li><div class="basket-btn"><span class="icon-bin2"></span></div></li>
				</ul>
			</div>
		</div>
		<div class="editor-wrapper">
			<div class="editor-container">
			<div class="tools-wrapper">
				<ul>
					<li>
						<div class="tolls-icon"><span class="icon-text"></span><span class="tolls-icon-label">Текст</span></div>
					</li>
					<li>
						<div class="tolls-icon" ng-click="addButton()"><span class="icon-button"></span><span class="tolls-icon-label">Кнопка</span></div>
					</li>
					<li>
						<div class="tolls-icon"><span class="icon-form"></span><span class="tolls-icon-label">Форма</span></div>
					</li>
				</ul>
			</div>
			<div class="video-edit-wrapper">
				<div class="video-wrapper">
					<video id="main-video">
						<source ng-src="{{node.VideoUnit.FullPath|trusted}}" type="{{node.VideoUnit.MimeType}}">
					</video>
					<div id="interactive" class="interactive" ng-click="interactiveClick(); ">
						<div class="user-elements" ng-repeat="elem in userElements track by $index">
							<div data-id="{{$index}}" class="mpls-action-button element1" ng-click="elementClick({{$index}});" style="left:{{userElements[$index].X}}px;top:{{userElements[$index].Y}}px;width:{{userElements[$index].Width}}px;height:{{userElements[$index].Height}}px;">{{userElements[$index].Text}}</div>
						</div>
						<!--<div data-id="7" ng-show='userElements.length>6' ng-click="elementClick(6);" class="mpls-action-button element1"  style="left:{{userElements[6].X}}px;top:{{userElements[6].Y}}px;width:{{userElements[6].Width}}px;height:{{userElements[6].Height}}px;">{{userElements[6].Text}}</div>-->
					</div>
					<span class="play-stop-btn" ng-click="playVideo()" ng-class="{'icon-pause':isVideoPlayed,'icon-play3': !isVideoPlayed}"></span>
				</div>
				<div class="elements-wrapper">
					<div class="elem-list" ng-repeat="elem in userElements track by $index">
						<div class="elem-wrap" ng-click="elementClick({{$index}});">
							<div class="element" style="width:{{getWidth($index);}}px;left:{{getLeft($index);}}px;">{{userElements[$index].Text}}</div>
						</div>
					</div>
					<!--<div class="elem-wrap" ng-show='userElements.length>0' ng-click="elementClick(0);">
						<div class="element" style="width:{{getWidth(0);}}px;left:{{getLeft(0);}}px;">{{userElements[0].Text}}</div>
					</div>
					-->
					<div class="curtime-bar" style="left:{{curBarPosition}}px"></div>

				</div>
				
			</div>	
			</div>
			<div class="editor-aside">
				<ul class="nav nav-tabs ">
				  <li ng-click="tab(0)" role="presentation" class="active col-sm-6"><a>Стили</a></li>
				  <li ng-click="tab(1)" role="presentation" class="col-sm-6"><a>Зависимости</a></li>
				</ul>
				<div ng-show="isElementSelected">
				<form ng-show="!tabCoef">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Ширина</label>
				    <input type="text" ng-model="selectedElement.Width" class="form-control" placeholder="100">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Высота</label>
				    <input type="text" ng-model="selectedElement.Height" class="form-control" placeholder="50">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">X</label>
				    <input type="text" ng-model="selectedElement.X" class="form-control" placeholder=" ">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">Y</label>
				    <input type="text" ng-model="selectedElement.Y" class="form-control" placeholder=" ">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Текст</label>
				    <input type="text" ng-model="selectedElement.Text" class="form-control" placeholder=" ">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Время появления</label>
				    <input type="text" ng-model="selectedElement.TimeAppear" class="form-control" placeholder="0">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Время исчезновения</label>
				    <input type="text" ng-model="selectedElement.TimeDisappear" class="form-control" placeholder="10">
				  </div>
				</form>
				<form ng-show="tabCoef">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Укажите номер слайда, на который будет осуществлен переход</label>
				    <input type="text" ng-model="selectedElement.NextId" class="form-control" placeholder="1">
				  </div>
				</form>
			</div>
			</div>
		</div>	
</div>
</div>