<div class="view-inner">
	<!--<div class="editor-left-panel">
		<div class="slide-info-wrap">
			<div class="back-to-struct-btn btn2">Назад к структуре проекта</div>
			<div class="slide-info-container">
				<div class="slide-name">Слайд 1</div>
				<div class="elements-count"><span>0</span> элементов на слайде</div>
				<div class="save-changes-btn btn1 btn1-blue">Сохранить изменения</div>
			</div>
		</div>
		
	</div>-->
	<div class="tools-wrapper">
				<ul>
					<li>
						<div class="tolls-icon"><span class="icon-text-1"></span><span class="tolls-icon-label">Текст</span></div>
					</li>
					<li>
						<div class="tolls-icon"><span class="icon-image"></span><span class="tolls-icon-label">Изображение</span></div>
					</li>
					<li>
						<div class="tolls-icon" ng-click="addButton()"><span class="icon-button-1"></span><span class="tolls-icon-label">Кнопка</span></div>
					</li>
					<li>
						<div class="tolls-icon"><span class="icon-form"></span><span class="tolls-icon-label">Форма</span></div>
					</li>
				</ul>
	</div>
	<div class="video-edit-wrapper" id="video-wrapper">
				<div class="video-wrapper" style="top:{{offsetVideoWrapper}}px;">
					<video id="main-video">
						 <source src="videos/1.webm" type='video/webm'>
						<!--<source ng-src="{{node.VideoUnit.FullPath|trusted}}" type="{{node.VideoUnit.MimeType}}">-->
					</video>

					<div id="interactive" class="interactive" ng-click="interactiveClick(); ">
						<div class="user-elements" ng-repeat="elem in userElements track by $index">
							<div data-id="{{$index}}" class="mpls-action-button element1" ng-show="isShow({{$index}})" style="left:{{userElements[$index].X}}px;top:{{userElements[$index].Y}}px;width:{{userElements[$index].Width}}px;height:{{userElements[$index].Height}}px;border-radius:{{userElements[$index].Styles['border-radius']}}px;padding-top:{{userElements[$index].Styles['padding-top']}}px;opacity:{{userElements[$index].Styles['opacity']/100}};background-color:{{userElements[$index].Styles['background-color']}};color:{{userElements[$index].Styles['color']}};border-width:{{userElements[$index].Styles['border-width']}}px;border-style:solid;border-color:{{userElements[$index].Styles['border-color']}};font-size:{{userElements[$index].Styles['font-size']}}px;font-weight:{{userElements[$index].Styles['font-weight']}};box-shadow:0 {{userElements[$index].Styles['shadow-width']}}px 0 0 {{userElements[$index].Styles['shadow-color']}};">{{userElements[$index].Text}}</div>
						</div>
					<canvas id="slide-canvas" width="800" height="200"></canvas>
					<span class="play-stop-btn" ng-click="playVideo()" ng-class="{'icon-pause':isVideoPlayed,'icon-play': !isVideoPlayed}"></span>
				</div>
				
				
				</div>	
	</div>
	<div class="timeline-panel">
	<div class="playback-wrap ">
		<div class="play-btn elem-type-wrap"><span ng-click="playVideo()" ng-class="{'icon-pause':isVideoPlayed,'icon-play': !isVideoPlayed}"></span></div>
		<div id="playback-line" class="playback-line-wrap" ng-click="gotoAndStop($event)">
			<div class="playback-line" style="width:{{curBarPosition}}px;"></div>
			<span class="video-duration-wrap"><span class="curtime">{{video.currentTime}}</span> / <span class="duration">{{video.duration}}</span></span>
		</div>
	</div>
		<div class="elements-wrapper">
		<div class="elements-wrapper-inner">
					<div class="elem-list playback-wrap" ng-repeat="elem in userElements track by $index">
						<div class="elem-type-wrap"><span class="icon-button-1"></span></div>
						<div class="elem-wrap" ng-click="elementClick($index);">
							<div class="element" style="width:{{getWidth($index);}}px;left:{{getLeft($index);}}px;">{{userElements[$index].Text}}</div>
						</div>
					</div>
		</div>
		</div>
		<div class="curtime-bar" style="left:{{curBarPosition}}px"></div>

	</div>
	<div class="right-panel slide-info-wrap">
				<div class="slide-info">
				<div class="slide-name">{{node.Name}}</div>
				<div class="elements-count"><span>{{userElements.length}}</span> элементов на слайде</div>
				<div class="devider"></div>
				<label class="text-left">Основное видео:</label>
				    <div class="">
				      <p class="">{{node.VideoUnit.Name}}</p>
				    </div>
				</div>
				<div class="devider"></div>
				<div class="form-group">
				    <label for="exampleInputEmail1">Название слайда</label>
				    <input type="text" ng-model="node.Name" class="form-control mpls">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Переход при бездействии к слайду:</label>
				    <ui-select ng-model="node.DefaultNext" theme="selectize" ng-disabled="disabled" >
				    <ui-select-match placeholder="При бездействии перейти к слайду:">{{getNameById($select.selected)}}</ui-select-match>
				    <ui-select-choices repeat="defaultNext in defaultNexts ">
				      <span ng-bind-html="getNameById(defaultNext)"></span>
				    </ui-select-choices>
				  	</ui-select>
				  </div>
				<div class="save-changes-btn btn1 btn1-blue" ng-click="saveElements()">Сохранить изменения</div>
	</div>
	<div class="element-variables-panel" ng-show="isElementSelected">
		<div class="tabs-btn-panel">
			<ul>
				<li ng-click="tab(1)" ng-class="{'active':tabCoef===1}"><span class="tabs-icon icon-sliders"></span></li>
				<li ng-click="tab(2)" ng-class="{'active':tabCoef===2}"><span class="tabs-icon icon-text-1"></span></li>
				<li ng-click="tab(3)" ng-class="{'active':tabCoef===3}"><span class="tabs-icon icon-brush"></span></li>
				<li ng-click="tab(4)" ng-class="{'active':tabCoef===4}"><span class="tabs-icon icon-stopwatch"></span></li>
				<li ng-click="tab(6)" ng-class="{'active':tabCoef===6}" style="display:none;"><span class="tabs-icon icon-arrange"></span></li>
				<li ng-click="tab(5)" ng-class="{'active':tabCoef===5}"><span class="tabs-icon icon-flash"></span></li>
				<li ng-click="removeElement();"><span class="tabs-icon icon-bucket"></span></li>
			</ul>
		</div>
		<div class="right-panel">
			<form ng-show="tabCoef===1">
				  
				  <div class="form-group">
				    <label for="exampleInputEmail1">Ширина</label>
				    <input type="number" ng-model="selectedElement.Width" class="form-control mpls" placeholder="100" min="10" max="1000">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Высота</label>
				    <input type="number" ng-model="selectedElement.Height" class="form-control mpls" placeholder="50" min="10" max="1000">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">X</label>
				    <input type="number" ng-model="selectedElement.X" class="form-control mpls" placeholder=" " min="0">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">Y</label>
				    <input type="number" ng-model="selectedElement.Y" class="form-control mpls" placeholder=" " min="0">
				  </div>
				  
			</form>
			<form ng-show="tabCoef===2">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Текст</label>
				    <input type="text" ng-model="selectedElement.Text" class="form-control mpls" placeholder=" ">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Цвет текста</label>
				  <color-picker ng-model="selectedElement.Styles['color']" color-picker-format="'hex'"
    					color-picker-alpha="false"></color-picker>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Отступ сверху</label>
				    <input type="number" ng-model="selectedElement.Styles['padding-top']" class="form-control mpls" placeholder=" " min="0">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Размер текста</label>
				    <input type="number" ng-model="selectedElement.Styles['font-size']" class="form-control mpls" placeholder=" " min="5" max="100">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Начертание шрифта</label>
				    <ui-select ng-model="selectedElement.Styles['font-weight']" theme="selectize" ng-disabled="disabled" >
				    <ui-select-match placeholder="Укажите начертание текста">{{$select.selected}}</ui-select-match>
				    <ui-select-choices repeat="fontWeight in ['lighter','normal','bold']">
				      <span ng-bind-html="fontWeight | highlight: $select.search"></span>
				    </ui-select-choices>
				  	</ui-select>
				  </div>
			</form>
			<form ng-show="tabCoef===3">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Скругление углов</label>
				    <input type="number" ng-model="selectedElement.Styles['border-radius']" class="form-control mpls" placeholder=" " min="0">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Цвет заливки</label>
				  <color-picker ng-model="selectedElement.Styles['background-color']" color-picker-format="'rgb'"></color-picker>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Непрозрачность, %</label>
				    <input type="number" ng-model="selectedElement.Styles['opacity']" class="form-control mpls" placeholder=" " min="0" max="100">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">Обводка</label>
				    <input type="number" ng-model="selectedElement.Styles['border-width']" class="form-control mpls" placeholder=" " min="0" max="10">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Цвет обводки</label>
				  <color-picker ng-model="selectedElement.Styles['border-color']" color-picker-format="'hex'"
    				color-picker-alpha="false"></color-picker>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Размер тени</label>
				    <input type="number" ng-model="selectedElement.Styles['shadow-width']" class="form-control mpls" placeholder=" " min="0" max="10">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Цвет тени</label>
				  <color-picker ng-model="selectedElement.Styles['shadow-color']" color-picker-format="'rgb'"></color-picker>
				  </div>
			</form>
			<form ng-show="tabCoef===4">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Время появления</label>
				    <input type="number" ng-model="selectedElement.TimeAppear" class="form-control mpls" placeholder="0" min="0" max="{{selectedElement.TimeDisappear-2}}" ng-change="changeTimeAppear()">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Время исчезновения</label>
				    <input type="number" ng-model="selectedElement.TimeDisappear" class="form-control mpls" placeholder="10" min="{{selectedElement.TimeAppear+2}}" max="{{video.duration}}" ng-change="changeTimeDisappear()">
				  </div>
			</form>
			<form ng-show="tabCoef===5">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Выберите действие:</label>
				    <ui-select ng-model="selectedElement.Action" theme="selectize" ng-disabled="disabled" >
				    <ui-select-match placeholder="Выберите действие:">{{getNameOfActionType($select.selected)}}</ui-select-match>
				    <ui-select-choices repeat="actionType in ['next-slide','link'] | filter: $select.search">
				      <span ng-bind-html="getNameOfActionType(actionType)"></span>
				    </ui-select-choices>
				  	</ui-select>
				  </div>
				  <div ng-if="selectedElement.Action==='next-slide'" class="form-group">
				    <label for="exampleInputEmail1">Перейти к слайду:</label>
				    <ui-select ng-model="selectedElement.NextId" theme="selectize" ng-disabled="disabled" >
				    <ui-select-match placeholder="Перейти к слайду:">{{getNameById($select.selected)}}</ui-select-match>
				    <ui-select-choices repeat="nextSlide in defaultNexts">
				      <span ng-bind-html="getNameById(nextSlide)"></span>
				    </ui-select-choices>
				  	</ui-select>
				  </div>
				  <div ng-if="selectedElement.Action==='link'" class="form-group">
				    <label for="exampleInputEmail1">Ссылка</label>
				    <input type="text" ng-model="selectedElement.ActionUrl" class="form-control mpls" placeholder=" ">
				  </div>
			</form>
			<form ng-show="tabCoef===6">
				  <div class="form-group">
				    <label for="exampleInputEmail1">4 рый будет осуществлен переход</label>
				    <input type="text" ng-model="selectedElement.NextId" class="form-control mpls" placeholder="1">
				  </div>
			</form>
			
		</div>
	</div>

</div>


<!--<div class="struct-editor">
<div class="struct-inner container">
		<div class="editor-header">
			
			<span class="presentation-name">Слайд1<span class="icon-pencil"></span></span>
			<div class="presentation-menu">
				<ul>
					<li><div class="button1 button1-pink button1-left"><span class="button-icon"><span class="icon-video-camera"></span></span>Редактировать видео</div></li>
					<li><div class="save-btn"><span class="icon-floppy-disk"></span></div></li>
					<li><div class="setting-btn"><span class="icon-cog"></span></div></li>
					<li><div class="basket-btn"><span class="icon-bin2"></span></div></li>
				</ul>
			</div>
		</div>
		<div class="editor-wrapper">
			<div class="editor-container">
			<div class="tools-wrapper">
				<ul>
					<li>
						<div class="tolls-icon"><span class="icon-text"></span><span class="tolls-icon-label">Текст</span></div>
					</li>
					<li>
						<div class="tolls-icon" ng-click="addButton()"><span class="icon-button"></span><span class="tolls-icon-label">Кнопка</span></div>
					</li>
					<li>
						<div class="tolls-icon"><span class="icon-form"></span><span class="tolls-icon-label">Форма</span></div>
					</li>
				</ul>
			</div>
			<div class="video-edit-wrapper">
				<div class="video-wrapper">
					<video id="main-video">
						<source src="videos/1.webm" type='video/webm'>
						<source ng-src="{{node.VideoUnit.FullPath|trusted}}" type="{{node.VideoUnit.MimeType}}">
					</video>

					<div id="interactive" class="interactive" ng-click="interactiveClick(); ">
						<div class="user-elements" ng-repeat="elem in userElements track by $index">
							<div data-id="{{$index}}" class="mpls-action-button element1" ng-show="isShow({{$index}})" style="left:{{userElements[$index].X}}px;top:{{userElements[$index].Y}}px;width:{{userElements[$index].Width}}px;height:{{userElements[$index].Height}}px;">{{userElements[$index].Text}}</div>
						</div>
						<!-<div data-id="7" ng-show='userElements.length>6' ng-click="elementClick(6);" class="mpls-action-button element1"  style="left:{{userElements[6].X}}px;top:{{userElements[6].Y}}px;width:{{userElements[6].Width}}px;height:{{userElements[6].Height}}px;">{{userElements[6].Text}}</div>
					</div>
					<canvas id="slide-canvas" width="800" height="200"></canvas>
					<span class="play-stop-btn" ng-click="playVideo()" ng-class="{'icon-pause':isVideoPlayed,'icon-play3': !isVideoPlayed}"></span>
				</div>
				<div class="elements-wrapper">
					<div class="elem-list" ng-repeat="elem in userElements track by $index">
						<div class="elem-wrap" ng-click="elementClick({{$index}});">
							<div class="element" style="width:{{getWidth($index);}}px;left:{{getLeft($index);}}px;">{{userElements[$index].Text}}</div>
						</div>
					</div>
					<!-<div cl
					ass="elem-wrap" ng-show='userElements.length>0' ng-click="elementClick(0);">
						<div class="element" style="width:{{getWidth(0);}}px;left:{{getLeft(0);}}px;">{{userElements[0].Text}}</div>
					</div>
					
					<div class="curtime-bar" style="left:{{curBarPosition}}px"></div>

				</div>
				
			</div>	
			</div>
			<div class="editor-aside">
				<ul class="nav nav-tabs ">
				  <li ng-click="tab(0)" role="presentation" class="active col-sm-6"><a>Стили</a></li>
				  <li ng-click="tab(1)" role="presentation" class="col-sm-6"><a>Зависимости</a></li>
				</ul>
				<div ng-show="isElementSelected">
				<form ng-show="!tabCoef">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Ширина</label>
				    <input type="number" ng-model="selectedElement.Width" class="form-control" placeholder="100" min="10" max="1000">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Высота</label>
				    <input type="number" ng-model="selectedElement.Height" class="form-control" placeholder="50" min="10" max="1000">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">X</label>
				    <input type="number" ng-model="selectedElement.X" class="form-control" placeholder=" " min="0">
				  </div>
					<div class="form-group">
				    <label for="exampleInputEmail1">Y</label>
				    <input type="number" ng-model="selectedElement.Y" class="form-control" placeholder=" " min="0">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Текст</label>
				    <input type="text" ng-model="selectedElement.Text" class="form-control" placeholder=" ">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Время появления</label>
				    <input type="number" ng-model="selectedElement.TimeAppear" class="form-control" placeholder="0" min="0" max="{{selectedElement.TimeDisappear-2}}" ng-change="changeTimeAppear()">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Время исчезновения</label>
				    <input type="number" ng-model="selectedElement.TimeDisappear" class="form-control" placeholder="10" min="{{selectedElement.TimeAppear+2}}" max="{{video.duration}}" ng-change="changeTimeDisappear()">
				  </div>
				</form>
				<form ng-show="tabCoef">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Укажите номер слайда, на который будет осуществлен переход</label>
				    <input type="text" ng-model="selectedElement.NextId" class="form-control" placeholder="1">
				  </div>
				</form>
			</div>
			</div>
		</div>
</div>
</div>-->