<li class="dropdown" ng-controller="LoginPartialController">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user" ng-show="isAuth">
        <li>
            Вы вошли как <strong>{{userName}}</strong>
            @*<a href=""><i class="fa fa-user fa-fw"></i>Профиль</a>
            <a href="@Url.Action("Manage", "Account")"><i class="fa fa-gear fa-fw"></i>Настройки</a>*@
        </li>

        <li>
            <a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i>Выход</a>
        </li>

    </ul>
    <ul class="dropdown-menu dropdown-user" ng-hide="isAuth">
        <li><a href="/#/register">Регистрация</a></li>
        <li><a href="/#/login">Вход</a></li>
    </ul>
</li>
